.mySwiper {
  min-height: 450px;
  width: 100%;
  height: 100%;
}

.swiper-slide {
  width: 100%;
  height: 100%;
}

.swiper-slide.swiper-slide-next .slide-img,
.swiper-slide.swiper-slide-prev .slide-img {
  width: 70px;
}

.swiper-wrapper {
  align-items: center;
}

.swiper-pagination .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background-color: var(--clr-primary-1);
  opacity: 1;
  margin: 0 8px;
}

.swiper-pagination .swiper-pagination-bullet-active {
  width: 45px;
  height: 15px;
  border-radius: 12px;
  background-color: var(--clr-primary-2);
  transition: width ease 0.3s;
}
