.mySwiper {
  min-height: 450px;
  width: 100%;
  height: 100%;
  margin-top: 150px;
}

.swiper-slide {
  max-width: 370px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  padding: 17px;
  border-radius: 6px;
  background: #fbfbfb;
  box-shadow: 14.296875px 10.0078125px 28.59375px 0px rgba(0, 0, 0, 0.08);
  transform: scale(0.7);
}

.swiper-slide.swiper-slide-active {
  max-width: 512px;
  height: 206px;
  padding: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: scale(1);
  transition: transform ease-out 1s;
}

.swiper-slide.swiper-slide-next,
.swiper-slide.swiper-slide-prev {
  max-width: 370px;
  width: 100%;
}

.swiper-slide.swiper-slide-next .slide-img,
.swiper-slide.swiper-slide-prev .slide-img {
  width: 70px;
}

.swiper-wrapper {
  align-items: center;
}

.swiper-pagination .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background-color: var(--clr-primary-1);
  opacity: 1;
  margin: 0 8px;
}

.swiper-pagination .swiper-pagination-bullet-active {
  width: 45px;
  height: 15px;
  border-radius: 12px;
  background-color: var(--clr-primary-2);
  transition: width ease 0.3s;
}
