@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family:
      Open Sans,
      system-ui,
      sans-serif;
    font-weight: 400;
  }
}

@layer components {
  .btn-primary {
    @apply rounded-lg px-4 py-2 font-semibold shadow-md  focus:outline-none focus:ring-2  focus:ring-opacity-75;
  }

  .advantage {
    @apply flex h-full w-[350px] cursor-pointer items-center gap-x-6 rounded-full bg-[#f3efe8] px-8 py-5;
  }
}

:root {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --clr-primary-1: #8e55bb;
  --clr-primary-2: #e9922d;
  --clr-text: #5d2b6f;

  --react-international-phone-country-selector-arrow-size: 8px;
  --react-international-phone-country-selector-arrow-color: var(
    --clr-primary-1
  );
}

*,
::after,
::before,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}
